@using System.Linq
@using AssessmentNet.Models
@model System.Linq.IGrouping<TestRun, QuestionResponse>[]

@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Results</h2>

<table class="table-bordered table-striped table">
    @if(@Model.Any()) {
        <tr>
            <th></th>
            @{ int i = 0; }
            @foreach (var item in Model.First())
            {
                <th>#@(++i)</th>
            }
        </tr>

    }
    @foreach (IGrouping<TestRun, QuestionResponse> test in Model)
    {
        <tr>
            <td>@test.Key.Testee.UserName</td>
            @foreach (var item in test)
            {
                TimeSpan time;
                if (item.Finished!=null && item.IsCorrect())
                {
                    time = item.Finished.Value - item.Started.Value;
                    <td><div style="color: green; font-weight: bold;">@string.Format("{0:00}:{1:00}",(int)time.TotalMinutes, time.Seconds)</div></td>
                }
                else if (item.Finished!=null)
                {
                    time = item.Finished.Value - item.Started.Value;
                    <td><div style="color: red; font-weight: bold;">N @string.Format("{0:00}:{1:00}", (int)time.TotalMinutes, time.Seconds)</div></td>
                }
                else if (item.Started != null)
                {
                    <td><div style="color: red; font-weight: bold;">T/o</div></td>
                }
                else if (item.Started == null)
                {
                    <td><div style="color: gray; font-weight: bold;">-</div></td>
                }
            }
        </tr>
    }  
</table>

<h3>Questions</h3>

<table class="table table-bordered table-striped">
    @if (@Model.Any())
    {       
        int i = 0;
        foreach (var item in Model.First())
        {
            <tr>
                <th>#@(++i)</th>
                <td>@item.Question.QuestionHtml</td>
            </tr>
        }
    }
</table>


